.table {
  display: flex;
  flex-direction: column;
}

.table .header {
  display: flex;
  flex-direction: row;
}

.table .header .header-item {
  width: 10vw;
  outline: 1px solid white;
  padding-bottom: 1rem;
}

.table .row {
  display: flex;
  flex-direction: row;
}

.table .row .location-item {
  width: 10vw;
  outline: 1px solid white;
}